<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script> 
    </head>
    <body>

            <table>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" id="name"></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" id="phone"></td>
                    </tr>
                    <tr>
                        <td>나이</td>
                        <td><input type="text" id="age"></td>
                    </tr>
                </table>

                <button type="button" id="sendbutton">보내기</button>
                <script>
                   
                    $('#sendbutton').click(function(){
                        var input_name = $('#name').val();
                        var input_phone = $('#phone').val();
                        var input_age = $('#age').val();
                        console.log(name,phone,age);
                        $.ajax({
                            url : 'http://localhost:3000/userJoin',
                            type : 'POST',
                            dataType : 'JSON',
                            data : {
                                nameajax: input_name,
                                phoneajax: input_phone,
                                ageajax: input_age
                            },
                            success : function(response){
                                console.log(response);
                            }

                            });  
                          
                            console.log(name, phone, age);
                    });
                    
                    
                </script>
                
    </body>
</html>