<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>     
    </head>
    <body>
            <table>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" id="name"></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" id="phone"></td>
                    </tr>
                    <tr>
                        <td>나이</td>
                        <td><input type="text" id="age"></td>
                    </tr>
                </table>

                <button type="button" id="sendbutton">보내기</button>
                <script>
                   
                    $('#sendbutton').click(function(){
                        var name = $('#name').val();
                        var phone = $('#phone').val();
                        var age = $('#age').val();
                        console.log(name,phone,age);
                    })
                    
                    console.log(name);
                </script>
    </body>
</html>